<!-- /templates/components/navigation.html -->
<nav class="side-nav">
    <a href="#intro" class="nav-dot active" data-section="intro">
        <span class="nav-label">Intro</span>
    </a>
    <a href="www.hadivahidi.com #skills" class="nav-dot" data-section="skills">
        <span class="nav-label">Skills</span>
    </a>
    <a href="#work" class="nav-dot" data-section="work">
        <span class="nav-label">Work</span>
    </a>
    <a href="#experience" class="nav-dot" data-section="experience">
        <span class="nav-label">Experience</span>
    </a>
    <a href="articles.php"  class="nav-dot" class="nav-link">
        <span class="nav-label">Articles</span>
    </a>
    
    <a href="#contact" class="nav-dot" data-section="contact">
        <span class="nav-label">Contact</span>
    </a>
</nav>