<!-- /templates/components/theme-toggle.html -->
<div class="theme-toggle" aria-label="Toggle dark/light mode">
    <svg class="sun" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 3v2m0 14v2m9-9h-2M5 12H3m16.95 4.95l-1.414-1.414M6.464 6.464 5.05 5.05m13.9 0-1.414 1.414M6.464 17.536 5.05 18.95M16 12a4 4 0 11-8 0 4 4 0 018 0z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <svg class="moon" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21 12.79A9 9 0 0111.21 3a7 7 0 1010.79 9.79z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
</div>